.maiui-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  transition: 0.5s ease;
}
.maiui-button--primary {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.maiui-button--primary:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.maiui-button--secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.maiui-button--secondary:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.maiui-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.maiui-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.maiui-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
