.maiui-card{
    height: fit-content;
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    box-shadow: 3px 4px 5px 0px rgba(184, 181, 181, 0.72);
    -webkit-box-shadow: 3px 4px 5px 0px rgba(184, 181, 181, 0.72);
    -moz-box-shadow: 3px 4px 5px 0px rgba(184, 181, 181, 0.72);
}

.maiui-card--small {
    width: fit-content;
}

.maiui-card--medium {
    width: 300px;
}

.maiui-card--large {
    width: 900px;
}