.maiui-dropdown {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.maiui-dropdown-select {
  max-width: 50%;
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid grey;
}
