.maiui-input {
    border: none;
    border-radius: 10px;
    height: 40px;
    padding:0 15px;
    border: 1px solid #C4C4C4;
}

.maiui-input--large{
    width: 100%;
}

.maiui-input--medium{
    width: 400px;
}